.readMore {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.readRightDiv {
  width: 100%;
}

.readRightDiv img {
  max-width: 100%;
}

.readLeftDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 8rem;
  margin-top: 3rem;
  width: 100%;
  align-items: center;
}

.readLeftDiv h1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-align: center;
  max-width: 28rem;
}

.readLeftDiv p {
  text-align: center;
  color: hsl(227 12% 61%);
  max-width: 24rem;
  font-weight: bold;
}

.readButton {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  min-width: 100%;
}

.firstButton:hover {
  background: none;
  color: #f34e3a;
}

@media (min-width: 768px) {
  .readMore {
    max-width: 768px;

    padding: 1rem;
  }
}

@media (min-width: 1024px) {
  .readMore {
    max-width: 1024px;
    flex-direction: row;
  }

  .readLeftDiv {
    width: 50%;
    align-items: start;
  }

  .readLeftDiv h1 {
    text-align: left;

    font-size: 3rem;
    line-height: 1;
  }
  .readLeftDiv p {
    text-align: left;
  }

  .readRightDiv {
    width: 50%;
    margin-bottom: 8rem;
    margin-top: 3rem;
  }

  .readButton {
    justify-content: start;
    margin-top: 0;
  }
}

@media (min-width: 1440px) {
  .readMore {
    max-width: 1440px;
  }
}
